{% extends 'appsongaz/base.html' %}
{% block title %}Update File{% endblock %}

{% block content %}
    <div class="body flex-grow-1 px-3">
        <div class="container-lg">
            <div class="mb-4">
                <div class="card-header text-center my-5"><h2>Upload your files</h2></div>
            </div>
            <form action="{% url 'update' file.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-9">
                        {{ form.file }}
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
{% endblock %}